.card_my {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    .card_content {
      position: relative;
      width: 100%;
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    .card_top, .card_back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    .card_front {
      background-color: #bbb;
      color: black;
    }
    .card_back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }
  }
  .card_my:hover .card_content{
    transform: rotateY(180deg);
    transition-property: all;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
  }