#gold-star1 {
    color: $bg_btn_dark;
    transition-property: transform, color;
    transition-delay: 1s;
    transition-timing-function: ease-in;
  }
  .card_back:hover #gold-star1 {
    color: gold;
  }
  #gold-star2 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-delay: 1.2s;
  transition-timing-function: ease-in;
  }
  .card_back:hover #gold-star2 {
    color: gold;
  }
    #gold-star3 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-delay: 1.3s;
  transition-timing-function: ease-in;
  }
  .card_back:hover #gold-star3 {
    color: gold;
  }
    #gold-star4 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-delay: 1.4s;
  transition-timing-function: ease-in;
  transform: scale(1);
  }
  .card_back:hover #gold-star4 {
    color: rgb(255, 236, 62);
    transform: scale(1.1);
  }
    #gold-star5 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-delay: 1.5s;
  transition-timing-function: ease-in;
  transform: scale(1);
  }
  .card_back:hover #gold-star5 {
    color: rgb(255, 238, 82);
    transform: scale(1.2);
  }