#gold-star1 {
    color: $bg_btn_dark;
    transition-property: transform, color;
    transition-delay: 1.5s;
    transition-timing-function: ease-in;
  }
  .card_back:hover #gold-star1 {
    color: gold;
  }
  #gold-star2 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-duration: .1s;
  transition-delay: 1.7s;
  transition-timing-function: ease-in;
  }
  .card_back:hover #gold-star2 {
    color: gold;
  }
    #gold-star3 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-delay: 1.9s;
  transition-timing-function: ease-in;
  }
  .card_back:hover #gold-star3 {
    color: gold;
  }
    #gold-star4 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-delay: 2.1s;
  transition-timing-function: ease-in;
  }
  .card_back:hover #gold-star4 {
    color: gold;
  }
    #gold-star5 {
  color: $bg_btn_dark;
  transition-property: transform, color;
  transition-delay: 2.3s;
  transition-timing-function: ease-in;
  
  }
  .card_back:hover #gold-star5 {
    color: gold;
  }